/* ======== Feature Grid ======== */



/* ------- Feature Grid 1 ------- */


@keyframes featureGrid_11 {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    3% {
        opacity: 1;
    }
    10%, 65% {
        transform: scale(.025);
        opacity: 0;
    }
}

@keyframes featureGrid_12 {
    0%, 100% {
        transform: rotateZ(0);
    }
    45%, 60% {
        transform: rotateZ(50deg);
    }
    85% {
        transform: rotateZ(-7deg);
    }
}

@keyframes featureGrid_13 {
    0%, 100% {
        transform: translateY(0);
        opacity: 1;
    }
    4%, 75% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    35%, 55% {
        opacity: 0;
        transform: translateY(-3rem);
    }
}


/* ------- Feature Grid 2 ------- */


@keyframes featureGrid_21 {
    0%, 100% {
        transform: rotateZ(0);
    }
    60% {
        transform: rotateZ(20deg);
    }
    80% {
        transform: rotateZ(-8deg);
    }
}

@keyframes featureGrid_22 {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    3% {
        opacity: 1;
    }
    10%, 85% {
        transform: scale(.025);
        opacity: 0;
    }
}

@keyframes featureGrid_23 {
    0%, 100% {
        transform: translateY(0);
        opacity: 1;
    }
    4%, 85% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    45%, 65% {
        opacity: 0;
        transform: translateY(-3rem);
    }
}


/* ------- Feature Grid 3 ------- */


@keyframes featureGrid_31 {
    0%, 100% {
        transform: rotateZ(42deg);
    }
    35%, 48% {
        transform: rotateZ(85deg);
    }
}

@keyframes featureGrid_32 {
    0%, 100% {
        transform: rotateZ(42deg);
    }
    43%, 56% {
        transform: rotateZ(54.5deg) translateX(-0.1rem) translateY(0.2rem);
    }
}

@keyframes featureGrid_33 {
    0%, 100% {
        transform: rotateZ(42deg);
    }
    43%, 56% {
        transform: rotateZ(26deg) translateX(-0.1rem) translateY(0.35rem);
    }
}

@keyframes featureGrid_34 {
    0%, 100% {
        transform: rotateZ(42deg);
    }
    35%, 48% {
        transform: rotateZ(-5deg) translateX(-0.1rem) translateY(0.4rem);
    }
}


/* ------- Feature Grid 4 ------- */


@keyframes featureGrid_41 {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    5% {
        opacity: 1;
    }
    15%, 87.5% {
        transform: scale(.025);
        opacity: 0;
    }
}

@keyframes featureGrid_42 {
    0%, 5%, 82.5%, 100% {
        transform: scale(.025);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    20%, 62.5% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes featureGrid_43 {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    15%, 80% {
        opacity: 0;
    }
    30%, 70% {
        transform: scale(.025);
        opacity: 0;
    }
}



/* ======== Header Component ======== */



@keyframes headerComponent_10 {
    0% {
        top: 6px;
        transform: rotate(45deg);
    }
    50% {
        top: 6px;
        transform: rotate(0deg);
    }
    100% {
        top: 0;
        transform: rotate(0deg);
    }
}

@keyframes headerComponent_11 {
    0% {
        top: 0;
        transform: rotate(0);
    }
    50% {
        top: 6px;
        transform: rotate(0);
    }
    100% {
        top: 6px;
        transform: rotate(45deg);
    }
}

@keyframes headerComponent_20 {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes headerComponent_21 {
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes headerComponent_30 {
    0% {
        bottom: 6px;
        transform: rotate(135deg);
    }
    50% {
        bottom: 6px;
        transform: rotate(0);
    }
    100% {
        bottom: 0;
        transform: rotate(0);
    }
}

@keyframes headerComponent_31 {
    0% {
        bottom: 0;
        transform: rotate(0);
    }
    50% {
        bottom: 6px;
        transform: rotate(0);
    }
    100% {
        bottom: 6px;
        transform: rotate(135deg);
    }
}
