@import "./variables.scss";

html {
	font-size: 16px;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: $font-sans-serif;
	color: $color-black;
	background-color: $color-beige;
}

a {
	text-decoration: none;
	color: $color-black;
}

#app {
	display: grid;
	grid-template-rows: 
		[system-status] calc($spacing * 1.25)
		[primary-header] calc($spacing * 4)
		[main] auto 
		[footer] calc($spacing * 4)
		[system-gestures] calc($spacing * 2)
	;
	grid-template-columns: 
		[fullscreen-start] calc($spacing * 2.5)
		[main-start] auto 
		[main-end] calc($spacing * 2.5)
		[fullscreen-end]
	;
}

.btn {
	border-width: 1px;
	border-style: solid;
	border-color: $color-black;
	border-radius: $radius-rounded;
	padding-inline: calc($spacing * 3);
	padding-block: calc($spacing * .75);

	&.btn--hollow {
		background-color: transparent;
	}

	&.btn--filled {
		color: $color-white;
		background-color: $color-black;				
	}
}
  
.main {
    grid-area: main;
}

.main > * {
	max-width: 65rem;
 	margin-inline: auto;
}

.welcome {
	height: calc(100dvh - calc(($spacing * 5.25) * 2));
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 28rem;
	text-align: center;

	&__title {
		font-family: $font-display;
		font-size: 4vw;
		margin-bottom: 0;
	}

	&__text {
		margin-bottom: calc($spacing * 2);
		font-weight: 300;
		font-size: 1.25vw;
	}
}

.bento {
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-columns: 4fr repeat(2, 3fr);
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
	width: 100%;

	&__title {
		grid-area: 1 / 1 / 1 / 4;
		font-family: $font-display;
		font-size: 3vw;
		text-align: center;
	}

	&__node {
		border-radius: 2.5rem;
		flex-direction: column;
		align-items: flex-start;
		padding: 2rem;
		display: flex;
		position: relative;

		&--1 {
			grid-area: 2 / 1 / 2 / 3;
			min-height: 14rem;
			background-color: $color-yellow;
		}
		
		&--2 {
			grid-area: 2 / 3 / 2 / 4;
			min-height: 14rem;
			background-color: $color-green;
		}
		
		&--3 {
			grid-area: 3 / 1 / 4 / 2;
			min-height: 28rem;
			background-color: $color-blue;
		}
		
		&--4 {
			grid-area: 3 / 2 / 4 / 4;
			min-height: 28rem;
			background-color: $color-purple;
		}
	}

}

/* (hover: hover)  |  (orientation: landscape) */

@media screen and (min-width: 1120px) {
	html {
		font-size: 1vw;
	}
	.bento {
		margin-top: calc($spacing * 3);
	}
}

@media screen and (max-width: 1120px) {
	.bento {
		grid-template-columns: repeat(12, 1fr);
	}
}

@media screen and (max-width: 769px) {	
	.bento {
	  grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 991px) {
	.bento {
		grid-template-columns: repeat(8, 1fr);
	}
}