@import "./variables.scss";

html {
	font-size: 13px;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: $font-sans-serif;
	color: $color-black;
	background-color: $color-beige;
}

a {
	text-decoration: none;
	color: $color-black;
}

#app {
	display: grid;
	grid-template-rows: 
		[system-status] calc($spacing * 1.25)
		[primary-header] calc($spacing * 4)
		[main] auto 
		[footer] calc($spacing * 4)
		[system-gestures] calc($spacing * 2)
	;
	grid-template-columns: 
		[fullscreen-start] calc($spacing * 2.5)
		[main-start] auto 
		[main-end] calc($spacing * 2.5)
		[fullscreen-end]
	;
}

.btn {
	border-width: 1px;
	border-style: solid;
	border-color: $color-black;
	border-radius: $radius-rounded;
	padding-inline: calc($spacing * 3);
	padding-block: calc($spacing * .75);

	&.btn--hollow {
		background-color: transparent;
	}

	&.btn--filled {
		color: $color-white;
		background-color: $color-black;				
	}
}
  
.main {
    grid-area: main;
	display: grid;
	justify-content: center;
}

.main > * {
	max-width: calc(100dvw - 5rem);
}

.link {
	display: inline-flex;
	position: relative;
	overflow: hidden;

	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $color-link;
		transition: transform .15s ease-in-out;
		transform: translate3d(0, calc(100% - 2px), 0);
		mix-blend-mode: multiply;
	}

	&:hover::before {
		transform: none;
	}
}

@media screen and (min-width: 824px) {
	.main > * {
		max-width: 63.5rem;
	}
}

@media screen and (min-width: 1292px) {
	html {
		font-size: 1.0075vw;
	}
}

@media screen and (min-width: 1590px) {
	html {
		font-size: 16px;
	}
}