@import "./variables.scss";

html {
	font-size: 12px;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: $font-sans-serif;
	color: $color-black;
	background-color: $color-beige;
}

a {
	text-decoration: none;
	color: $color-black;
}

#app {
	display: grid;
	grid-template-rows: 
		[system-status] calc($spacing * 1.25)
		[primary-header] calc($spacing * 4)
		[main] auto 
		[footer] calc($spacing * 4)
		[system-gestures] calc($spacing * 2)
	;
	grid-template-columns: 
		[fullscreen-start] calc($spacing * 2.5)
		[main-start] auto 
		[main-end] calc($spacing * 2.5)
		[fullscreen-end]
	;
}

.btn {
	border-width: 1px;
	border-style: solid;
	border-color: $color-black;
	border-radius: $radius-rounded;
	padding-inline: calc($spacing * 3);
	padding-block: calc($spacing * .75);

	&.btn--hollow {
		background-color: transparent;
	}

	&.btn--filled {
		color: $color-white;
		background-color: $color-black;				
	}
}
  
.main {
    grid-area: main;
}

.main > * {
	max-width: 65rem;
 	margin-inline: auto;
}

/* (hover: hover)  |  (orientation: landscape) */

@media screen and (min-width: 1280px) {
	html {
		font-size: .9375vw;
	}
}

@media screen and (min-width: 1590px) {
	html {
		font-size: 15px;
	}
}