$color-black: hsl(0, 0%, 20%);
$color-white: hsl(38, 100%, 98%);

$color-beige: hsl(45, 57%, 97%);

$color-seafoam: hsl(133, 61%, 82%);
$color-seafoam--dark: hsl(133, 35%, 55%);

$color-peach: hsl(23, 98%, 83%);
$color-peach--dark: hsl(23, 35%, 55%);

$color-mimosa: hsl(49, 94%, 82%);
$color-mimosa--dark: hsl(49, 35%, 55%);

$color-periwinkle: hsl(245, 90%, 88%);
$color-periwinkle--dark: hsl(245, 35%, 55%);

$color-shadow: hsla(180, 3.9%, 75.1%, 0.9);
$color-shadow--box: hsla(226, 75%, 11%, 0.5);
$color-shadow--drop: hsla(226, 75%, 11%, 0.35);

$color-link: hsl(160, 40%, 80%);

$spacing: 1rem;
$gap: $spacing;

$radius: 8px;
$radius-rounded: 9999px;

$font-fallback: 
    "Helvetica Neue", 
    "Helvetica", 
    "Raleway", 
    BlinkMacSystemFont, 
    -apple-system, 
    "Segoe UI", 
    "Roboto", 
    "Oxygen", 
    "Ubuntu", 
    "Cantarell", 
    "Fira Sans", 
    "Droid Sans", 
    "Arial", 
    sans-serif
;

$font-sans-serif: ("Prompt", $font-fallback);
$font-display: ("Gloock", $font-fallback);